.add-film{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-film Button{
    margin-top:30px;
}

.add-film_label{
    color: white;
    font-size: 22px;
    font-family: "Comic Sans MS",sans-serif;
    margin-top: 10px;
}
.radio_button{
    margin:5px;
    width:20px;
}
.add-film_input{
    padding: 4px;
    width: 250px;
    height: 25px;
    border: 1px solid #eacd0d;
    border-radius: 40px;
    background-color: #282c34;
    color: white;
    font-family: "Comic Sans MS",sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 5px;


}
.company_label{
    color: white;
    font-size: 18px;
    font-family: "Comic Sans MS",sans-serif;
    margin-top: 10px;
}

 .company_radio_buttons{
     margin-top: 10px;
     justify-content: left;
}

.error-message{
    color: red;
    font-family: "Comic Sans MS",sans-serif;
}
