.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38px;
    padding: 7px 7px;
    align-items: center;
    justify-content: right;
    background-color: #eabe0d;

}

.header_link, .header_link_home{
    margin: 0 3px 0 15px;
    font-size: large;
    text-decoration: none;
    color: black;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    transition: text-shadow 0.2s;
}
.header_link:hover,.header_link_home:hover {
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);

}


.header_link_home{
    position: absolute;
    left: 0;
    font-size: x-large;
}

@media (min-width: 768px) {
    .header{

        justify-content: center;

    }
    .header_link_home{
        position: absolute;
        left: 0;
        font-size: xx-large;
    }
    .header_link, .header_link_home{
        margin: 0 35px 0 35px;

    }
}