.film_item {
    width: 230px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.film_item *{
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}



.link{
    color: white;
    text-decoration: none;
    align-content: center;
}
#film_item__name{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

#film_item__company, #film_item__year{
    font-size: larger;
}

#film_item__actors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#actor{
    text-align: center;

}

#film_item__image{
    display: flex;
    width: 160px;
    height: 230px;
}



#film_item__type{
    color: #eabe0d;
}