.film_page_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.film_page_main_side{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}

.film_page{
    flex: 5;
    order:2;
}

#film_page_main_side{
    width: 100vw;

}

#film_page_main_text{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;

}
#film_page_main_text *{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Comic Sans MS",sans-serif;

}
#film_page_name{
    text-align: center;
}
#film_page_icon{
    max-width: 200px;
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid  #eabe0d;
}

.film_page_buttons{
    display: flex;
    position: fixed;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, -50%);


}


.film_page_toggle{
    color:white;
    font-family: "Comic Sans MS",sans-serif;
    font-size: 22px;
    margin:10px;
    font-weight: bold;

}


.film_page_toggle_element{
    font-family: "Comic Sans MS",sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
}

@media (min-width: 768px) {
    #film_page_icon{
        min-width: 280px;
        max-width: 330px;
        max-height: 380px;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block;


    }
    #film_page_main_text{
        margin-top: 20px;
        margin-left: 40px;
        display: inline-block;
        vertical-align: top;

    }
    .film_page_toggle{
        font-size: 25px;
    }
    .film_page_toggle_element{
        font-size: 15px;
    }


    #left-sidebar{
        flex: 1;
        order: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center ;
        height: 100vh;
        background-image: url("../../images/a31277f463eee52e717e84ac59b0f00b.jpg");
    }
    #right-sidebar {
        flex: 1;
        order: 3;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center ;
        height: 100vh;
        /*background-image: url("../../images/a31277f463eee52e717e84ac59b0f00b.jpg")!important;*/
    }
}
@media (min-width: 1024px) {
    #film_page_main_text {
        margin-top: 20px;
        margin-left: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 25px;

    }
    .film_page_toggle_element{
        font-size: 20px;
    }
}